@import url(./__container/photo-grid__container.css);
@import url(./__card/photo-grid__card.css);
@import url(./__photo/photo-grid__photo.css);
@import url(./__text/photo-grid__text.css);
@import url(./__title/photo-grid__title.css);

.photo-grid {
    margin: auto;
    padding: 0 20px;
    display: flex;
}














