.bigphoto-popup__close-button {
    width: 54px;
    height: 54px;
    border: none;
    padding: 0;
    background: url(../../../images/CloseIcon.svg);
    position: absolute;
    top: -50px;
    right: -50px;
    transition: opacity .5s ease;
}

.bigphoto-popup__close-button:hover {
    opacity: .6;
    cursor: pointer;
}
  